<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{message.resetPassword}">Caborya password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getName()} +' ' + ${user.getSurname()})}">
    Dear
</p>
<p th:text="#{email.password.reset.text}">
    For your Caborya account a password reset was requested, please click on the URL below to reset it:
</p>
<p>
    <a  th:href="${url}" >Reset password link</a>

</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Caborya Team.</em>
</p>
</body>
</html>
